<section class="main-section">
  <header>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container">
        <div class="w-50">
          <a class="navbar-brand fw-bold fs-3 d-none d-lg-block" href="#">Hubex Press Release jet</a>
          <button class="navbar-toggler border-1 border" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse " id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100 d-flex justify-content-end text-uppercase">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Order now</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Resourse</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="container">
    <section class="form-section mt-4 rounded-3">
      <h3 class="fw-bolder text-uppercase mb-4">Add 'As Seen On' Media Logos to Your Website</h3>
     <p><%= image_tag 'conversion-optimization-add-as-seen-on-media-logos.jpg', class: 'rounded-3 float-end ms-4 mb-5',  width: "300px" %></p>
      <p class="text-secondary mb-4">Press Release Jet is commited to helping customers increase visibility, exposure, traffic and sales revenue. Add 'As Seen On' media logos to your website to convey social proof and <span class="fw-bold"> instantly establish trust </span>,
        credibility and authority with your audience <span class="fw-bold">— and increase sales conversions today!</span> </p>
      <h3 class="fw-bolder">Instructions</h3>
      <ul>
        <li>Open your press release distribution report.</li>
        <li>Select favorite media site from each of the corresponding news networks (eg. FOX).</li>
        <li>Enter the links to those corresponding media sites below.</li>
        <li>Copy and paste the embed code to your website.</li>
        <li>Upload to Publish!</li>
      </ul>
      <span class="text-secondary">The ABC, CBS, FOX, NBC and CW top tier media outlets come guaranteed with
                    our
                    <a href="#" class="a-links ">Premium Pro</a> Premium Pro & <a href="#" class="a-links ">Premium
                        Concierge Distribution</a>.</span>

      <!-- Input Form -->
      <div class="my-3 py-3">
        <form class="links-form">
          <input class="form-control api-link link-input mt-5" value="" type="text" placeholder="Link to ABC Press Release" aria-label="default input example" id="input-1">
          <input class="form-control api-link link-input mt-5" value="" type="text" placeholder="Link to CBS Press Release" aria-label="default input example" id="input-2">
          <input class="form-control api-link link-input mt-5" value="" type="text" placeholder="Link to FOX Press Release" aria-label="default input example" id="input-3">
          <input class="form-control api-link link-input mt-5" value="" type="text" placeholder="Link to NBC Press Release" aria-label="default input example" id="input-4">
          <input class="form-control api-link link-input mt-5" value="" type="text" placeholder="Link to CW Press Release" aria-label=" default input example" id="input-5">
        </form>
      </div>

      <!-- Switch -->
      <div class="d-flex align-items-center mt-4 ">
        <label class="switch ">
          <input type="checkbox" class="checkboxInput">
          <span class="slider round "></span>
        </label>
        <small class="text-secondary ms-3 ">Apply Grayscale Filter to Media Logos</small>
      </div>


      <!-- Preview -->
      <div class="mt-5 ">
        <h3 class="fw-bolder ">Preview</h3>
        <!-- Logos will be placed here -->
        <div class="logo-previews">
          <a href="#" id="link-1" target="_blank" class="prev-log"><img src="" id="img-1" class="pre-img me-2 ms-2 rounded-circle" width="5%"></a>
          <a href="#" id="link-2" target="_blank" class="prev-log"><img src="" id="img-2" class="pre-img me-2 ms-2 rounded-circle" width="5%"></a>
          <a href="#" id="link-3" target="_blank" class="prev-log"><img src="" id="img-3" class="pre-img me-2 ms-2 rounded-circle" width="5%"></a>
          <a href="#" id="link-4" target="_blank" class="prev-log"><img src="" id="img-4" class="pre-img me-2 ms-2 rounded-circle" width="5%"></a>
          <a href="#" id="link-5" target="_blank" class="prev-log"><img src="" id="img-5" class="pre-img me-2 ms-2 rounded-circle" width="5%"></a>
        </div>
      </div>

      <!-- Embeded Code -->
      <div class="mt-3 ">
        <h4 class="fw-bolder ">Embeded Code</h4>
        <p class="text-secondary my-3 ">Copy and paste the code below to the HTML of your website. You may need to contact your webmaster to install.</p>
        <textarea class="form-control embCode-textarea " placeholder="Paste the code here! " id="floatingTextarea2 "></textarea>
      </div>
    </section>
  </div>
</section>
